<div class="container">
<h1>ログイン</h1>

<div class="row">
  <div class = "col-md-6 col-md-offset-3">
    <%= form_with(url: "/login", scope: :session, local: true) do |f| %>

      <%= f.label :メールアドレス , class: "form-label" %>
      <%= f.email_field :email , class: "form-control" %>

      <%= f.label :パスワード , class: "form-label" %>
      <%= f.password_field :password , class: "form-control" %>

      <%= f.submit "ログイン" , class: "form-control subbo" %>

    <% end %>
  </div>
</div>
</div>
