<div class="container">
  <div class="mainshow">
  <h1>質問内容と回答</h1>

  <h2>質問内容</h2>

  <div class= "list-group-item" >
    <div class = "mainpostfont">
      <%= @user.grade %>
      <%= @user.expert %>
      <%= @user.nickname %>
    </div>
    <div class = "mainpostconfont mainpostcolor">
      <%= @mainpost.content %>
    </div>
  </div>

  <h2>回答</h2>

  <div>
    <div>
      <% @mainanswers.each do |mainanswer| %>
        <div class= "list-group-item" >
          <div class = "mainpostfont">
          <% @auser = User.find_by(id: mainanswer.user_id) %>
            <%= @auser.grade %>
            <%= @auser.expert %>
            <%= @auser.nickname %>
          </div>
          <div class = "mainpostconfont">
          <%= mainanswer.content %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="updesbut">
    <% if @user.id == current_user.id %>
      <%= link_to "質問を削除する", "/mainpostdestroy/#{@mainpost.id}", method: :delete, class: "btn btn-primary btn-lg" %>
    <% end %>
  </div>

  <%= link_to "回答を投稿する", "/mainanswers/#{current_user.id}/#{@mainpost.id}/#{@mainpost.code_id}", class: "btn btn-danger btn-lg mainpostbutton" %>
  <%= link_to "一覧に戻る", "/mokulist", class: "btn btn-success btn-lg mainpostbutton" %>

  </div>
</div>