<div class = "body">
  <div class = "mainpostindex">
  <div class="container">

    <div class="balloon1-left">
      <p><span>ハートボタン</span>を押すといいねができます。</p>
      <p><span>ニックネーム</span>を押すとその人のプロフィールを見ることができます。</p>
    </div>

    <h1>質問内容と回答</h1>

    <div class = "ribbon2"><h2>質問内容</h2></div>

    <div class= "box22" >

      <div class = "postuser">
        <%= link_to "#{@user.grade} #{@user.expert} #{@user.nickname}", "/users/detail/#{@user.id}" %>
      </div>

      <div class = "postcontent">
        <%= @mainpost.content %>
      </div>

      <div class = "postimg">
        <%= image_tag @mainpost.img.url if @mainpost.img? %>
      </div>


      <div id = "likes_buttons_<%= @mainpost.id %>", class = "like">
        <%= render 'mainposts/mainlike' %>
      </div>
      <%= @like.count %>
    </div>

    <div class="updesbut">
      <% if @user.id == current_user.id %>
        <%= link_to "質問を削除する", "/mainpostdestroy/#{@mainpost.id}", method: :delete, class: "button-square-so-red" %>
      <% end %>
        <%= link_to "回答を投稿する", "/mainanswers/#{current_user.id}/#{@mainpost.id}/#{@mainpost.code_id}", class: "button-square-so-pop" %>
    </div>

    <div class="ribbon2"><h2>回答内容</h2></div>

    <div>
      <% @mainanswers.each do |mainanswer| %>
        <div class= "box18" >
          <div class = "postuser">
          <% @auser = User.find_by(id: mainanswer.user_id) %>
            <%= link_to "#{@auser.grade} #{@auser.expert} #{@auser.nickname}", "/users/detail/#{@auser.id}" %>
          </div>
          <div class = "postcontent">
            <%= mainanswer.content %>
          </div>
          <div class = "postimg">
            <%= image_tag mainanswer.img.url if mainanswer.img? %>
          </div>
          <% if mainanswer.user_id == current_user.id %>
            <%= link_to "回答を削除する", "/mainpostanswerdestroy/#{mainanswer.id}", method: :delete %>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class = "returnbutton">
    <%= link_to "目次に戻る", "/mokulist", class: "button-square-so-blue" %>
    </div>
  </div>
  </div>
</div>