<div class="container">
  <h1>学校生活に関する質問一覧</h1>
  <p class="warn">質問内容をクリックすると、具体的な質問と回答を確認することができます。</p>
    <% @mainposts.each do |mainpost| %>
    <div class= "list-group-item" >
      <div class="mainpostfont">
      <% @user = User.find_by(id: mainpost.user_id) %>
        <%= @user.grade %>
        <%= @user.expert %>
        <%= @user.nickname %>
      </div>
      <div class="mainpostconfont" >
        <%= link_to "#{mainpost.title}", "/mainposts/#{mainpost.code_id}/#{mainpost.id}" %>
      </div>
    </div>
    <% end %>

    <%= link_to "一覧に戻る", "/mokulist", class: "btn btn-success btn-lg mainpostbutton" %>
    
</div>