<div class="user">
  <div class = "container">
    <h1>ユーザー情報変更</h1>

    <div class = "col-md-6 col-md-offset-3" >
      <%= form_with(url: "/users/#{@user.id}/update", model: @user, local: true) do |f| %>
  
        <%= render 'shared/error_messages' %>

        <div>
        <%= f.label :学年 , class: "form-label" %>
        <%= f.select :grade, [["1年生", "1年生"],["2年生", "2年生"],["3年生", "3年生"],["4年生", "4年生"],["大学院", "大学院"],["OB", "OB"]], class: "form-control" %>
        </div>
        <div>
        <%= f.label :学部 , class: "form-label" %>
        <%= f.select :expert, [["総合科学部", "総合科学部"],["文学部", "文学部"],["教育学部", "教育学部"],["法学部", "法学部"],["経済学部", "経済学部"],["理学部", "理学部"],["工学部", "工学部"],["生物生産学部", "生物生産学部"],["情報科学部", "情報科学部"],["医学科", "医学科"],["看護学科", "看護学科"],["薬学部", "薬学部"],["歯学部", "歯学部"],["その他医療系学科", "その他医療系学科"]], class: "form-control" %>
        </div>
        <div>

        <%= f.label :ニックネーム , class: "form-label" %>
        <%= f.text_field :nickname , class: "form-control" %>
      
        <%= f.label :パスワード, class: "form-label" %>
        <%= f.password_field :password , class: "form-control" %>

        <%= f.label :パスワード（再確認）, class: "form-label" %>
        <%= f.password_field :password_confirmation , class: "form-control" %>
        </div>
        <div>
        <%= f.submit "アカウントを更新する" , class: "form-control subbo" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
