<% if current_user.admin? %>

<div class="secret">
<div class="container">

<h1>管理者画面</h1>

<dl class="ac">
  <dt class="ac-parent">ユーザー一覧</dt>
  <dd class="ac-child">
    <%= @users.count %>
    <% @users.each do |user| %>
    <div class="list-group-item">
      <%= user.grade %>
      <%= user.expert %>
      <%= user.nickname %>
    </div>
    <% end %>
  </dd>
  <dt class="ac-parent">投稿一覧</dt>
  <dd class="ac-child">
    <% @posts.each do |post| %>
      <div class="list-group-item">
        <%= post.content %>
        <%= link_to "削除", "/securepostdestroy/#{post.id}", method: :delete %>
      </div>
    <% end %>
    <% @mainposts.each do |mainpost| %>
      <div class="list-group-item">
        <%= mainpost.content %>
        <%= link_to "削除", "/securemainpostdestroy/#{mainpost.id}", method: :delete %>
      </div>
    <% end %>
  </dd>
  <dt class="ac-parent">お問い合わせ一覧</dt>
  <dd class="ac-child">
    <% @contacts.each do |contact| %>
      <div class="list-group-item">
        <%= contact.content %>
      </div>
    <% end %>
  </dd>
</dl>

</div>
</div>


<script type="text/javascript">
  $(function () {
      $('.ac-parent').on('click', function () {
      $(this).next().slideToggle();
    });
  });
</script>

<% end %>
