<div class = "user">

  <div class="container">
    
    <h1>MY アカウント</h1>

    <div class="follow">
      <%= link_to "フォロー #{@followed.count}", "/relationships/#{current_user.id}/follow", class: "followbutton" %>
      
      <%= link_to "フォロワー #{@follower.count}", "/relationships/#{current_user.id}/follower", class: "followbutton" %>
    </div>

    <div>
      <div class="box14">
        <h3>学年</h3>
        <p><%= current_user.grade %></p>
      </div>
      <div class="box14">
        <h3>学部</h3>
        <p><%= current_user.expert %></p>
      </div>
      <div class="box14">
        <h3>ニックネーム</h3>
        <p><%= current_user.nickname %></p>
      </div>
    </div>

    <div>
      <%= link_to "ユーザー情報を変更する" , "/users/#{current_user.id}/edit" , class: "button-square-so-blue" %>
    </div>

    <h1>あなたが投稿した質問の一覧</h1>

    <div class="balloon1-left">
      <p>質問をクリックすると、その質問と回答を見ることができます。</p>
      <p>クリックしたリンク先で質問を削除することもできます。</p>
    </div>
    
    <div>

      <div class = "ribbon2">
        <h2>目的別投稿一覧</h2>
      </div>

      <% @mainposts.each do |mainpost| %>
        <div class="box22">
          <p><%= link_to "#{mainpost.content}", "/mainposts/#{mainpost.code_id}/#{mainpost.id}" %></p>
        </div>
      <% end %>
    </div>

      <div>

        <div class = "ribbon2">
          <h2>学科別投稿一覧</h2>
        </div>

        <% @posts.each do |post| %>
          <div class="box22">
            <p><%= link_to "#{post.content}", "/posts/#{post.univ_id}/#{post.id}" %></p>
          </div>
        <% end %>
      </div>

      <div>
        <h1>アカウント削除</h1>
        <%= link_to "アカウントを削除する", "/delete_form", class: "button-square-so-red" %>
      </div>

  </div>
</div>