<% if current_user.admin? %>

<div class = "col-md-6 col-md-offset-3">
  <%= form_with(url: "/secure", model: @secure, local: true) do |f| %>

    <%= f.label :パスワード , class: "form-label" %>
    <%= f.password_field :password , class: "form-control" %>

    <%= f.submit "管理者画面を開く" , class: "form-control subbo" %>

  <% end %>
</div>


<% else %>

<div class = "top-wrapper">

  <h1>広大掲示板hiroshiへようこそ！</h1>

  <h2>気軽に質問を！そして、みんなでいい掲示板を！</h2>

</div>

<div class="down-wrapper">
  <div class="container">

    <div>
      <h2>学校生活・就活に関する投稿</h2>
      <p>この部屋では<span>学校生活、サークル・部活、就活</span>の3個の投稿部屋に分けています。</p>
      <p>普段の生活のことや、部活、サークルの口コミを確認したり、就活の情報共有に役立ちます。</p>
      <p><span>特に就活の部分は自信があります。</span></p>
      <%= link_to "学校生活・就活に関する投稿はこちら", "/mokulist", class: "button-square-so-water" %>
    </div>
    <div>
      <h2>学部別の投稿</h2>
      <p>この部屋は、<span>学部別</span>に投稿部屋を作っています。</p>
      <p>各学部の<span>授業情報</span>や、各学部での生活について聞けます。</p>
      <%= link_to "学部編に関する投稿はこちら", "/unilist", class: "button-square-so-water" %>
    </div>
    <div>
      <h2>マイページ</h2>
      <p>自分のプロフィールや、自分が投稿した質問などを確認、削除することができます。</p>
      <%= link_to "マイページはこちら", "/users/#{current_user.id}", class: "button-square-so-pop" %>
    </div>

    <div>
      <h1>お問い合わせフォーム</h1>
      <p>質問、不具合等がございましたらこちらにご記入お願いします。</p>

      <div class = "col-md-6 col-md-offset-3" >
        <%= form_with(url: "/contact", model: @contact, local: true) do |f| %>

          <%= f.label :お問い合わせ, class: "form-label" %>
          <%= f.text_area :content , size: "20x15", class: "form-control" %>

          <%= f.submit "質問を投稿する" , class: "form-control postsub" %>
        <% end %>
      </div>
    </div>

  </div>
</div>


<% end %>
