  <div class="top-wrapper">
    
    <h1>広大掲示板hiroshi</h1>

    <h3 class="release">2021/5/16 リリース!!!!</h3>

    <h2>コロナ禍の今、広島大学生で情報共有を手助けするアプリ。。</h2>

    <div class="balloon2-left">
      <h3>バイトや就活、部活・サークルの情報共有ができる!</h3>
      <h3>学部ごとの情報を入手できる!!</h3>
      <h3>コロナ禍の情報共有に最適</h3>
    </div>

    <div class = "balloon2-left">
      <h3>とにかくいろいろ投稿してみよう！！面白い掲示板を目指して！！</h3>
    </div>

    <div class = "usercount">
      <h3>ただいまのユーザー数</h3>
      <p><%= @users.count %></p>
      <h2>まだまだ募っております!!!</h2>
    </div>


  </div>

<div class = "container">

  <div class = "koukoku">
    <h1>NEW</h1>
    <p><span>霞キャンパスの学部</span>の投稿部屋も追加しました。</p>
    <p>これからは霞キャンパスと本学の隔たりの少ないアプリを目指してきます!!!!!!!</p>
  </div>

  <div class="rireki-wrapper">
    <h1>こんな質問が出ています！！！！！</h1>

    <% @posts.each do |post| %>
      <div class="list-group-item">
        <%= post.content %>
      </div>
    <% end %>

    <% @mainposts.each do |mainpost| %>
      <div class="list-group-item">
        <%= mainpost.content %>
      </div>
    <% end %>

  </div>

  <div class="middle-wrapper">
  
    <h1>THIS APP</h1>
    <div class="box17">
    <p>このアプリは、広島大学生内でのソーシャルメディアアプリです。</p>
    <p>コロナ禍の今、広島大学内の生徒内で新たなつながりを見つけたり、有益な情報を手に入れるのに役に立てれば幸いです。</p>
    </div>

    <h1>今すぐアプリを利用する</h1>

    <%= link_to "新規登録はこちら", "/users/new", class: "box9" %>
    <%= link_to "ログイン", "/login", class: "box8" %>

  </div>

  <div class="down-wrapper">

    <h1>このアプリでできること</h1>

    <div>
      <h2>学校生活・就活に関する投稿</h2>
      <div class="box15">
        <p>この部屋では<span>学校生活、サークル・部活、就活</span>の3個の投稿部屋に分けています。</p>
        <p>普段の生活のことや、部活、サークルの口コミを確認したり、就活の情報共有に役立ちます。</p>
        <p><span>特に就活の部分は自信があります。</span></p>
      </div>
    </div>
    <div>
      <h2>学部別の投稿</h2>
      <div class="box15">
        <p>この部屋は、<span>学部別</span>に投稿部屋を作っています。</p>
        <p>各学部の<span>授業情報</span>や、各学部での生活について聞けます。</p>
      </div>
    </div>
    <div>
      <h2>マイページ</h2>
      <div class="box15">
        <p>自分のプロフィールや、自分が投稿した質問などを確認、削除することができます。</p>
      </div>
    </div>


    <h1>アプリの機能一覧</h1>

    <h2>質問、回答の機能</h2>
    <div class="box16">
      <p>誰かが質問して、誰かがその質問に答える機能を実装しました。</p>
      <p>ツイッターでいう、誰かが投稿したやつに対して質問するという機能です。</p>
    </div>

    <h2>検索機能</h2>
    <div class="box16">
      <p>自分の探してる投稿を見つけることができます。</p>
      <p>調べたキーワードを含む投稿を返します。</p>
    </div>
    
  </div>

</div>