<div class="container">
  <div class="row unilist">
  <h1>学部編</h1>

  <p><span>学部別</span>に投稿部屋を作っています。</p>

  <div class="unilistdetail">
    <ul>
      <%= link_to "総合科学部", "/sogoabout" , class: "list-group-item" %>
      <%= link_to "文学部", "/bunabout" , class: "list-group-item" %>
      <%= link_to "教育学部", "/kyouabout" , class: "list-group-item" %>
      <%= link_to "法学部", "/houabout" , class: "list-group-item" %>
      <%= link_to "経済学部", "/keiabout" , class: "list-group-item" %>
      <%= link_to "理学部", "/riabout" , class: "list-group-item" %>
      <%= link_to "工学部", "/kouabout" , class: "list-group-item" %>
      <%= link_to "生物生産学部", "/seibutuabout" , class: "list-group-item" %>
      <%= link_to "情報科学部", "/zyouhouabout" , class: "list-group-item" %>
    </ul>
  </div>

  <div>
    <%= link_to "ログイントップに戻る", "/logintop", class: "btn btn-success btn-lg unibotton" %>
  </div>
  </div>
</div>
