<div class="mokulist">
  <div class="container">

    <h1>学部編</h1>

    <p><span>学部別</span>に投稿部屋を作っています。</p>

    <div>

      <h3>本学の学部</h3>
      <ul>
        <li><%= link_to "総合科学部", "/sogoabout" %></li>
        <li><%= link_to "文学部", "/bunabout" %></li>
        <li><%= link_to "教育学部", "/kyouabout" %></li>
        <li><%= link_to "法学部", "/houabout" %></li>
        <li><%= link_to "経済学部", "/keiabout" %></li>
        <li><%= link_to "理学部", "/riabout" %></li>
        <li><%= link_to "工学部", "/kouabout" %></li>
        <li><%= link_to "生物生産学部", "/seibutuabout" %></li>
        <li><%= link_to "情報科学部", "/zyouhouabout" %></li>
      </ul>

      <h3>霞の学部</h3>
      <ul>
        <li><%= link_to "医学部医学科", "/igakuabout" %></li>
        <li><%= link_to "医学部看護学科・その他医療系", "/kangoabout" %></li>
        <li><%= link_to "薬学部", "/yakuabout" %></li>
        <li><%= link_to "歯学部", "/siabout" %></li>
        
      </ul>
    </div>

    <div>
      <%= link_to "ログイントップに戻る", "/logintop", class: "button-square-so-pop" %>
    </div>

  </div>
</div>
