<div class="container">
  <h1>文学部に関する質問一覧</h1>
  <p class="warn">質問内容をクリックすると、具体的な質問と回答を確認することができます。</p>
    <% @posts.each do |post| %>
    <div class= "list-group-item" >
      <div class = "postfont">
      <% @user = User.find_by(id: post.user_id) %>
        <%= @user.grade %>
        <%= @user.expert %>
        <%= @user.nickname %>
      </div>
      <div class = "postconfont">
        <%= link_to "#{post.content}", "/posts/#{post.univ_id}/#{post.id}" %>
      </div>
    </div>
    <% end %>

    <%= link_to "学部一覧に戻る", "/unilist", class: "btn btn-success btn-lg postbutton" %>
    
</div>