<div class="postindex">  
  <div class = "container">
    <h1>医学部看護学科・その他医療系に関する新規投稿</h1>

    <div class = "col-md-6 col-md-offset-3" >
      <%= form_with(url: "/posts/kangonew", model: @post, local: true) do |f| %>

        <%= f.label :質問内容（200字以内、空白なし）, class: "form-label" %>
        <%= f.text_area :content , size: "20x15", class: "form-control" %>

        <%= f.label :画像 %>
        <%= f.file_field :img, class: "image" %>

        <%= f.submit "質問を投稿する" , class: "form-control postsub" %>
      <% end %>
    </div>

    <div class = "col-md-6 col-md-offset-3">
      <%= link_to "戻る", "/kangoabout", class: "button-square-so-pop" %>
    </div>
  </div>
</div>