<div class="postindex">
  <div class="container">

    <div class="balloon1-left">
      <p><span>ハートボタン</span>を押すといいねができます。</p>
      <p><span>ニックネーム</span>を押すとその人のプロフィールを見ることができます。</p>
    </div>

    <h1>質問内容と回答</h1>

    <div class = "ribbon2"><h2>質問内容</h2></div>

    <div class= "box22" >

      <div class = "postuser">
        <%= link_to "#{@user.grade} #{@user.expert} #{@user.nickname}", "/users/detail/#{@user.id}" %>
      </div>

      <div class = "postcontent">
        <%= @post.content %>
      </div>

      <div class = "like">
        <% if Like.find_by(user_id: current_user.id, post_id: @post.id) %>
          <%= link_to("/like/#{@post.id}/destroy", method: :delete) do %>
            <span class= "fa fa-heart like-btn-unlike" ></span>
          <% end %>
        <% else %>
          <%= link_to("/like/#{@post.id}", method: :post) do %>
            <span class= "fa fa-heart like-btn" ></span>
          <% end %>
        <% end %>
        <%= @like.count %>
      </div>
    </div>

    <div class="updesbut">
      <% if @user.id == current_user.id %>
        <%= link_to "質問を削除する", "/postdestroy/#{@post.id}", method: :delete, class: "button-square-so-red" %>
      <% end %>
        <%= link_to "回答を投稿する", "/answers/#{current_user.id}/#{@post.id}/#{@post.univ_id}", class: "button-square-so-pop" %>
    </div>

    <div class="ribbon2"><h2>回答内容</h2></div>

    <div>
      <% @answers.each do |answer| %>
        <div class= "box18" >
          <div class = "postuser">
          <% @auser = User.find_by(id: answer.user_id) %>
            <%= link_to"#{@auser.grade} #{@auser.expert} #{@auser.nickname}", "/users/detail/#{@auser.id}" %>
          </div>
          <div class = "postcontent">
          <%= answer.content %>
          </div>
          <% if answer.user_id == current_user.id %>
            <%= link_to "回答を削除する", "/postanswerdestroy/#{answer.id}", method: :delete %>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class = "returnbutton">
    <%= link_to "学部一覧に戻る", "/unilist", class: "button-square-so-blue" %>
    </div>
  </div>
</div>