<div class="container">
  <div class="mainshow">
  <h1>質問内容と回答</h1>

  <h2>質問内容</h2>

  <div class= "list-group-item" >
    <div class = "postfont">
      <%= @user.grade %>
      <%= @user.expert %>
      <%= @user.nickname %>
    </div>
    <div class = "postconfont postcolor">
      <%= @post.title %>
    </div>
    <div class = "postconprofont">
      <%= @post.content %>
    </div>
  </div>

  <h2>回答内容</h2>

  <div>
      <% @answers.each do |answer| %>
        <div class= "list-group-item" >
          <div class = "postfont">
          <% @auser = User.find_by(id: answer.user_id) %>
            <%= @auser.grade %>
            <%= @auser.expert %>
            <%= @auser.nickname %>
          </div>
          <div class = "postconfont">
          <%= answer.content %>
          </div>
        </div>
      <% end %>
  </div>
  <div class="updesbut">
    <% if @user.id == current_user.id %>
      <%= link_to "質問を削除する", "/postdestroy/#{@post.id}", method: :delete, class: "btn btn-primary btn-lg" %>
    <% end %>
  </div>

  <%= link_to "回答を投稿する", "/answers/#{current_user.id}/#{@post.id}/#{@post.univ_id}", class: "btn btn-danger btn-lg postbutton" %>
  <%= link_to "学部一覧に戻る", "/unilist", class: "btn btn-success btn-lg postbutton" %>
  </div>
</div>